body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0044cc;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

form {
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}

input[type="submit"], input[type="reset"] {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #003399;
}
